body {
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: #DCDCDC;
    width: 1100px;
    height: 290px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;

}

.container li {
    display: inline-block;
    margin: 5px;
    width: 330px;
    margin-top: 80px;

}

.container li div {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #2a69a6;
    margin-left: 140px;
    border: 1px solid #2a69a6;
    color: white;
    font-size: 25px;
    text-align: center;

}

.container li div:hover {
    background-color: white;
    border: 1px solid #2a69a6;
    color: #2a69a6;
}



.container li div i {
    padding-top: 12px;
}


.container li p {
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

span {
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}